<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />

    <nav class="navbar">
      <div id="trapezoid">
        <a href="/">Home</a>

        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </nav>

    <body>
      <div class="container"></div>
    </body>
  </head>
</html>
