body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: black;
  background: rgb(235, 235, 235);
  background: linear-gradient(
    90deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-left: 100px;
  margin-right: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.blog {
  text-align: center;
  background-color: #d4dcff;
  padding: 30px;
}

.content {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

#trapezoid {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 80px solid rgba(0, 0, 0, 0);
  border-top: 0 solid;
  border-bottom: 100px solid #083d77;
  -webkit-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  font: "Poppins", sans-serif;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  margin-top: -53px;
  width: 470px;
  position: relative;
  padding-left: 7%;
}

#trapezoid a {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 0px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  background: #8ca6db;
  color: black;
  border-radius: 5px;
}
